/* ===== PAGE ===== */

.container {
  width: 100%;
  height: 100vh;
  overflow: indeed;
  background: #fff;
}

/* ===== FILTERS ===== */

.filters {
  position: sticky;
  top: 0px;
  z-index: 50;

  display: flex;
  gap: 12px;

  padding: 16px 40px;

  background: white;
  border-bottom: 1px solid #eee;
}

.filters button {
  border: 1px solid #ddd;
  background: rgb(255, 71, 71);
  padding: 10px 16px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.filters button:hover {
  border-color: black;
}

/* ===== CONTENT ===== */

.content {
  display: grid;
  grid-template-columns: 58% 42%;
  height: calc(100vh - 140px);
}

/* ===== LEFT ===== */

.leftSection {
  overflow-y: auto;
  padding: 30px 40px;
}

.cardsContainer {
  display: grid;
  grid-template-columns: 1fr;
  gap: 30px;
}

/* ===== RIGHT ===== */

.mapSection {
  position: sticky;
  top: 140px;
  height: calc(100vh - 140px);
  border-left: 1px solid #eee;
}

.fakeMap {
  width: 100%;
  height: 100%;
  background: #f2f2f2;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 30px;
  color: #666;
}