.layout{
    min-height:100vh;

    display:flex;
    flex-direction:column;

    background:#0f1115;
    color:#f4f4f5;
}

.main{

    width:100%;
    max-width:1600px;

    margin:0 auto;
    padding-top:90px;
    padding:28px;

    flex:1;

    box-sizing:border-box;

}


@media (max-width:900px){

.main{

    padding:18px;

}

}